In [1]:
import pandas as pd
import numpy as np

Importing the dataset

In [4]:
result=pd.read_csv('data_merged.csv')

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,9,15,17,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df=result

In [61]:
df.columns

Index(['Unnamed: 0', 'Company name', 'Registered number',
       'Primary UK SIC (2007) code', 'Latest accounts date', 'Website',
       'E-mail address', 'Company status', 'Status date',
       'Number of employees\nLast avail. yr',
       'Shareholders Funds\nth GBP Last avail. yr',
       'Total Assets\nth GBP Last avail. yr',
       'Current Assets\nth GBP Last avail. yr',
       'Current Liabilities\nth GBP Last avail. yr',
       'Long Term Liabilities\nth GBP Last avail. yr',
       'Cost of Sales\nth GBP Last avail. yr',
       'Taxation\nth GBP Last avail. yr', 'Turnover\nth GBP Last avail. yr',
       'EBITDA\nth GBP Last avail. yr', 'EBIT margin (%)\nLast avail. yr',
       'Profit (Loss) for period [=Net income]\nth GBP Last avail. yr',
       'Liquidity Ratio (x)\nLast avail. yr',
       'Profit (Loss) before Taxation\nth GBP Last avail. yr'],
      dtype='object')

In [7]:
df["Company status"].unique()

array(['Active', 'Active (dormant)', 'Dissolved', 'In liquidation',
       'Active, in administration', 'Active (receivership)',
       'Active, with vol. arrangement', 'Active, in default',
       'Active, petition to wind-up', 'Active, meeting of creditors',
       'Active, app. of liquidator', 'Active (dormant), in default',
       'Active (dormant), app. of liquidator',
       'Active (dormant), petition to wind-up'], dtype=object)

In [62]:
df[df["Company status"]!='Active']

,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,Number of employees\nLast avail. yr,...,Current Liabilities\nth GBP Last avail. yr,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr
7,8.0,MASONIC CHARITABLE SERVICES,06007714,NaN,30/06/2019,www.rmbi.org.uk,enquiries@rmbi.org.uk,Active (dormant),NaN,NaN,...,"-2,700",NaN,NaN,NaN,"381,900",100,0.03,100,1.52,100
69,70.0,ALLIED FLOORING LTD,06892812,82990.0,26/12/2009,www.alliedcarpets.com,NaN,Dissolved,20/08/2015,182,...,"-22,336",NaN,"-9,081",NaN,"19,377","2,109",10.88,"2,109",1.06,"2,109"
109,110.0,R.H. THOMPSON & CO. LIMITED,00902699,46320.0,23/02/2008,www.rhthompson.co.uk,NaN,Dissolved,15/05/2016,66,...,"-6,956",-17,"-40,873",-97,"42,364",399,0.72,68,0.97,165
120,121.0,CWBC LEASING (BP1) LIMITED,04882069,NaN,31/12/2018,www.canarywharf.com,NaN,Active (dormant),NaN,3,...,"-10,800",NaN,"-42,109",9,"42,286",4,0.01,13,1.00,4
136,137.0,AUTOFIL HOLDINGS LIMITED,03604141,NaN,31/12/2018,www.autofil.co.uk,info@autofil.co.uk,Active (dormant),NaN,183,...,"-10,327",-401,"-33,634",-519,"42,194","3,310",6.60,"2,195",0.75,"2,714"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901708,11709.0,KCB LIMITED,SC014210,NaN,31/03/2019,www.firstgroup.com,NaN,Active (dormant),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901715,11716.0,ANDREW COWAN MOTORSPORTS LIMITED,SC264963,NaN,31/03/2019,www.broadmeadowshouse.co.uk,NaN,Active (dormant),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901717,11718.0,HUNTERS OF BRORA LTD,SC396170,13200.0,31/03/2014,www.hunterstweed.com,NaN,Dissolved,05/04/2016,NaN,...,-16,-71,NaN,NaN,NaN,NaN,NaN,NaN,0.26,NaN
901719,11720.0,LANDS IMPROVEMENT COMPANY,ZC000147,64921.0,31/03/2019,www.landsimprovement.com,lloyd@lih.co.uk,Active (dormant),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901720,11721.0,PAIGNTON PIER COMPANY,ZC000169,NaN,28/02/2014,www.paigntonpier.co.uk,DONEATHY@LINEONE.NET,Active (dormant),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Droping dormant and dissolved companies it is not an indication of of insolvency

In [16]:
df=df[df['Company status']!='Active (dormant)']
df=df[df["Company status"]!='Dissolved']

df[df["Company status"]!='Active']

,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,Number of employees\nLast avail. yr,...,Current Liabilities\nth GBP Last avail. yr,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr
144,145.0,HARLEQUIN MANAGEMENT SERVICES (SOUTH EAST) LIM...,04205220,68310.0,31/03/2011,www.harlequinproperty.co.uk,contact@harlequinproperty.co.uk,In liquidation,23/10/2014,48,...,"-15,482",-700,"-33,602",-560,"42,158","1,805",4.09,"1,170",1.09,"1,730"
262,263.0,SVS SECURITIES PLC,04402606,66120.0,30/06/2018,www.svssecurities.com,info@svssecurities.com,"Active, in administration",09/2019,53,...,"-8,946",-574,"-35,600",41,"41,301",658,0.62,289,1.35,248
278,279.0,OCON CONSTRUCTION LIMITED,05122365,41201.0,30/09/2012,www.oconconstruction.co.uk,info@ocongroup.co.uk,In liquidation,05/02/2014,87,...,"-11,901",NaN,"-41,562",NaN,"41,212","-2,252",-5.62,"-1,415",1.56,"-1,415"
290,291.0,CARILLION FLEET MANAGEMENT LIMITED,00537677,96090.0,31/12/2016,www.carillionplc.com,james@vfdnet.com,In liquidation,02/02/2018,36,...,"-7,765",NaN,"-22,404","-2,260","41,117","15,657",37.95,"13,659",2.52,"15,919"
294,295.0,PENTA FOODS LIMITED,02628701,46390.0,31/12/2017,www.pentafoods.com,orders@pentafoods.com,In liquidation,03/06/2019,226,...,"-11,080",-377,"-36,553",41,"41,079",402,0.54,111,0.66,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901550,11551.0,FROMAGE & FRENCH LLP,OC402172,NaN,31/10/2017,https://fromageandfrench.com,NaN,In liquidation,13/09/2019,NaN,...,-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.31,NaN
901575,11576.0,APPLIANCE WORLD (SWINDON) LLP,OC403965,NaN,31/03/2019,www.appliance-world.co.uk,sales@appliance-world.co.uk,In liquidation,12/06/2020,14,...,-174,-157,NaN,NaN,NaN,NaN,NaN,NaN,0.45,NaN
901599,11600.0,FLIPTUNESMUSIC LLP,OC404717,NaN,31/03/2019,www.fliptunesmusic.com,info@fliptunesmusic.com,"Active, in default",03/2020,NaN,...,-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901611,11612.0,FLATLINEONLINE LLP,OC407398,NaN,31/10/2018,www.flatlineonline.co.uk,lettings@flatlineonline.co.uk,"Active, in default",05/2020,6,...,-25,-130,NaN,NaN,NaN,NaN,NaN,NaN,6.12,NaN
901620,11621.0,VILLAGE BARBER SHOP LLP,OC407691,NaN,30/04/2019,www.villagebarbershop.co.uk,NaN,"Active, in default",05/2020,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

df['Latest accounts date']=pd.to_datetime(df['Latest accounts date'])
df['Status date']=pd.to_datetime(df['Status date'])
df[df['Company status']=='Active']["diff_from_now"] = pd.to_datetime('01/06/2020')-df[df['Company status']=='Active']['Latest accounts date']
df[df['Company status']!='Active']["diff_account_status"] = df[df['Company status']!='Active']['Status date'] - df[df['Company status']!='Active']['Latest accounts date']
df[df['Company status']!='Active']['diff_account_status']=df[df['Company status']!='Active']['diff_account_status'].astype('timedelta64[D]')
df[df['Company status']!='Active']=df[df['Company status']!='Active'][df[df['Company status']!='Active']['diff_account_status']<=1080]
df[df['Company status']=='Active']["diff_from_now"]=df[df['Company status']=='Active']["diff_from_now"].astype('timedelta64[D]')
df[df['Company status']=='Active']=df[df['Company status']=='Active'][df[df['Company status']=='Active']["diff_from_now"]<=1080]
df

Dropping companies which havent provided financial informaiton for more than 36 months

In [27]:
noactive=df[df['Company status']!='Active']
noactive['Latest accounts date']=pd.to_datetime(noactive['Latest accounts date'])
noactive['Status date']=pd.to_datetime(noactive['Status date'])
#dd=noactive[noactive['Latest accounts date']<pd.to_datetime('31/12/2017')]
noactive["diff_account_status"] = noactive['Status date'] - noactive['Latest accounts date']
noactive['diff_account_status']=noactive['diff_account_status'].astype('timedelta64[M]')
noactive=noactive[noactive['diff_account_status']<=36]
noactive

In [21]:
noactive

,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,Number of employees\nLast avail. yr,...,Current Liabilities\nth GBP Last avail. yr,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr
144,145.0,HARLEQUIN MANAGEMENT SERVICES (SOUTH EAST) LIM...,04205220,68310.0,2011-03-31,www.harlequinproperty.co.uk,contact@harlequinproperty.co.uk,In liquidation,2014-10-23,48,...,"-15,482",-700,"-33,602",-560,"42,158","1,805",4.09,"1,170",1.09,"1,730"
262,263.0,SVS SECURITIES PLC,04402606,66120.0,2018-06-30,www.svssecurities.com,info@svssecurities.com,"Active, in administration",2019-09-01,53,...,"-8,946",-574,"-35,600",41,"41,301",658,0.62,289,1.35,248
278,279.0,OCON CONSTRUCTION LIMITED,05122365,41201.0,2012-09-30,www.oconconstruction.co.uk,info@ocongroup.co.uk,In liquidation,2014-05-02,87,...,"-11,901",NaN,"-41,562",NaN,"41,212","-2,252",-5.62,"-1,415",1.56,"-1,415"
290,291.0,CARILLION FLEET MANAGEMENT LIMITED,00537677,96090.0,2016-12-31,www.carillionplc.com,james@vfdnet.com,In liquidation,2018-02-02,36,...,"-7,765",NaN,"-22,404","-2,260","41,117","15,657",37.95,"13,659",2.52,"15,919"
294,295.0,PENTA FOODS LIMITED,02628701,46390.0,2017-12-31,www.pentafoods.com,orders@pentafoods.com,In liquidation,2019-03-06,226,...,"-11,080",-377,"-36,553",41,"41,079",402,0.54,111,0.66,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901550,11551.0,FROMAGE & FRENCH LLP,OC402172,NaN,2017-10-31,https://fromageandfrench.com,NaN,In liquidation,2019-09-13,NaN,...,-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.31,NaN
901575,11576.0,APPLIANCE WORLD (SWINDON) LLP,OC403965,NaN,2019-03-31,www.appliance-world.co.uk,sales@appliance-world.co.uk,In liquidation,2020-12-06,14,...,-174,-157,NaN,NaN,NaN,NaN,NaN,NaN,0.45,NaN
901599,11600.0,FLIPTUNESMUSIC LLP,OC404717,NaN,2019-03-31,www.fliptunesmusic.com,info@fliptunesmusic.com,"Active, in default",2020-03-01,NaN,...,-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
901611,11612.0,FLATLINEONLINE LLP,OC407398,NaN,2018-10-31,www.flatlineonline.co.uk,lettings@flatlineonline.co.uk,"Active, in default",2020-05-01,6,...,-25,-130,NaN,NaN,NaN,NaN,NaN,NaN,6.12,NaN
901620,11621.0,VILLAGE BARBER SHOP LLP,OC407691,NaN,2019-04-30,www.villagebarbershop.co.uk,NaN,"Active, in default",2020-05-01,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
active=df[df['Company status']=='Active']
active['Latest accounts date']=pd.to_datetime(active['Latest accounts date'])
active["diff_from_now"] = pd.to_datetime('01/06/2020')-active['Latest accounts date']
active["diff_from_now"]=active["diff_from_now"].astype('timedelta64[M]')
active=active[active["diff_from_now"]<=36]
active

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,Number of employees\nLast avail. yr,...,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr,diff_from_now
0,1.0,RIO TINTO INDONESIAN HOLDINGS LIMITED,03074852,70100.0,2018-12-31,www.riotinto.com,NaN,Active,NaN,2,...,NaN,NaN,NaN,"2,005,067","2,002,549",99.87,"2,002,825",6.04,"2,002,825",12.0
1,2.0,HARROGATE HEALTHCARE LLP,OC368402,71200.0,2019-03-31,www.harrogateharlow.co.uk,NaN,Active,NaN,11,...,"-210,296","-773,498",NaN,"1,063,581","27,631",1.98,"-6,027",0.71,"-6,027",9.0
2,3.0,STONEACRE LIMITED,07403794,70100.0,2019-04-30,www.stoneacre.co.uk,reception.headoffice@stoneacre.co.uk,Active,NaN,"2,709",...,"-8,721","-842,886","-3,633","982,052","22,628",1.89,"13,372",0.30,"17,005",8.0
3,4.0,CRAYON LIMITED,04055519,62020.0,2018-12-31,www.crayon.com,info@crayon.com,Active,NaN,NaN,...,"-45,332","-684,793","-3,874","819,381","16,035",1.11,"1,391",0.99,"4,870",12.0
4,5.0,THE TENNIS & RACKETS ASSOCIATION LIMITED,07819045,93120.0,2018-06-30,www.tennisandrackets.com,executive@tennisandrackets.com,Active,NaN,4,...,NaN,NaN,NaN,"431,400","80,600",18.68,"155,700",4.67,"155,700",18.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
901714,11715.0,ALIAS SMITH & GARRATT LIMITED,SC238865,82990.0,2018-10-31,www.smithandgarratt.com,info@smithandgarratt.com,Active,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.24,NaN,14.0
901716,11717.0,BORDER EGGS LTD.,SC328778,82990.0,2019-03-31,www.bordereggs.co.uk,info@bordereggs.co.uk,Active,NaN,8,...,-655,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,9.0
901718,11719.0,GENERAL CEMETERY COMPANY,ZC000136,96030.0,2019-01-04,www.kensalgreencemetery.com,enquiries@kensalgreencemetery.com,Active,NaN,23,...,-26,NaN,NaN,NaN,NaN,NaN,NaN,13.03,NaN,12.0
901721,11722.0,WHITSTABLE OYSTER FISHERY COMPANY (THE),ZC000190,68209.0,2019-05-31,www.whitstableoystercompany.com,oystercobookings@hotmail.com,Active,NaN,2,...,-339,NaN,NaN,NaN,NaN,NaN,NaN,2.43,NaN,7.0
901722,11723.0,SEAHAM HARBOUR DOCK COMPANY,ZC000191,52241.0,2019-09-30,www.seahamharbour.com,info@seahamharbour.com,Active,NaN,54,...,-550,NaN,NaN,NaN,NaN,NaN,NaN,1.14,NaN,3.0

In [ ]:
active=active.rename(columns={'diff_from_now': 'diff'})
noactive=noactive.rename(columns={'diff_account_status': 'diff'})

In [30]:
active.columns

Index(['Unnamed: 0', 'Company name', 'Registered number',
       'Primary UK SIC (2007) code', 'Latest accounts date', 'Website',
       'E-mail address', 'Company status', 'Status date',
       'Number of employees\nLast avail. yr',
       'Shareholders Funds\nth GBP Last avail. yr',
       'Total Assets\nth GBP Last avail. yr',
       'Current Assets\nth GBP Last avail. yr',
       'Current Liabilities\nth GBP Last avail. yr',
       'Long Term Liabilities\nth GBP Last avail. yr',
       'Cost of Sales\nth GBP Last avail. yr',
       'Taxation\nth GBP Last avail. yr', 'Turnover\nth GBP Last avail. yr',
       'EBITDA\nth GBP Last avail. yr', 'EBIT margin (%)\nLast avail. yr',
       'Profit (Loss) for period [=Net income]\nth GBP Last avail. yr',
       'Liquidity Ratio (x)\nLast avail. yr',
       'Profit (Loss) before Taxation\nth GBP Last avail. yr', 'diff'],
      dtype='object')

In [31]:
noactive.columns

Index(['Unnamed: 0', 'Company name', 'Registered number',
       'Primary UK SIC (2007) code', 'Latest accounts date', 'Website',
       'E-mail address', 'Company status', 'Status date',
       'Number of employees\nLast avail. yr',
       'Shareholders Funds\nth GBP Last avail. yr',
       'Total Assets\nth GBP Last avail. yr',
       'Current Assets\nth GBP Last avail. yr',
       'Current Liabilities\nth GBP Last avail. yr',
       'Long Term Liabilities\nth GBP Last avail. yr',
       'Cost of Sales\nth GBP Last avail. yr',
       'Taxation\nth GBP Last avail. yr', 'Turnover\nth GBP Last avail. yr',
       'EBITDA\nth GBP Last avail. yr', 'EBIT margin (%)\nLast avail. yr',
       'Profit (Loss) for period [=Net income]\nth GBP Last avail. yr',
       'Liquidity Ratio (x)\nLast avail. yr',
       'Profit (Loss) before Taxation\nth GBP Last avail. yr', 'diff'],
      dtype='object')

In [32]:
active.reset_index()

,index,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,...,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr,diff
0,0,1.0,RIO TINTO INDONESIAN HOLDINGS LIMITED,03074852,70100.0,2018-12-31,www.riotinto.com,NaN,Active,NaT,...,NaN,NaN,NaN,"2,005,067","2,002,549",99.87,"2,002,825",6.04,"2,002,825",371.0
1,1,2.0,HARROGATE HEALTHCARE LLP,OC368402,71200.0,2019-03-31,www.harrogateharlow.co.uk,NaN,Active,NaT,...,"-210,296","-773,498",NaN,"1,063,581","27,631",1.98,"-6,027",0.71,"-6,027",281.0
2,2,3.0,STONEACRE LIMITED,07403794,70100.0,2019-04-30,www.stoneacre.co.uk,reception.headoffice@stoneacre.co.uk,Active,NaT,...,"-8,721","-842,886","-3,633","982,052","22,628",1.89,"13,372",0.30,"17,005",251.0
3,3,4.0,CRAYON LIMITED,04055519,62020.0,2018-12-31,www.crayon.com,info@crayon.com,Active,NaT,...,"-45,332","-684,793","-3,874","819,381","16,035",1.11,"1,391",0.99,"4,870",371.0
4,4,5.0,THE TENNIS & RACKETS ASSOCIATION LIMITED,07819045,93120.0,2018-06-30,www.tennisandrackets.com,executive@tennisandrackets.com,Active,NaT,...,NaN,NaN,NaN,"431,400","80,600",18.68,"155,700",4.67,"155,700",555.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
591712,901714,11715.0,ALIAS SMITH & GARRATT LIMITED,SC238865,82990.0,2018-10-31,www.smithandgarratt.com,info@smithandgarratt.com,Active,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.24,NaN,432.0
591713,901716,11717.0,BORDER EGGS LTD.,SC328778,82990.0,2019-03-31,www.bordereggs.co.uk,info@bordereggs.co.uk,Active,NaT,...,-655,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,281.0
591714,901718,11719.0,GENERAL CEMETERY COMPANY,ZC000136,96030.0,2019-01-04,www.kensalgreencemetery.com,enquiries@kensalgreencemetery.com,Active,NaT,...,-26,NaN,NaN,NaN,NaN,NaN,NaN,13.03,NaN,367.0
591715,901721,11722.0,WHITSTABLE OYSTER FISHERY COMPANY (THE),ZC000190,68209.0,2019-05-31,www.whitstableoystercompany.com,oystercobookings@hotmail.com,Active,NaT,...,-339,NaN,NaN,NaN,NaN,NaN,NaN,2.43,NaN,220.0
591716,901722,11723.0,SEAHAM HARBOUR DOCK COMPANY,ZC000191,52241.0,2019-09-30,www.seahamharbour.com,info@seahamharbour.com,Active,NaT,...,-550,NaN,NaN,NaN,NaN,NaN,NaN,1.14,NaN,98.0

In [33]:
final = pd.concat([noactive,active],ignore_index=True)

In [34]:
final.reset_index()

,index,Unnamed: 0,Company name,Registered number,Primary UK SIC (2007) code,Latest accounts date,Website,E-mail address,Company status,Status date,...,Long Term Liabilities\nth GBP Last avail. yr,Cost of Sales\nth GBP Last avail. yr,Taxation\nth GBP Last avail. yr,Turnover\nth GBP Last avail. yr,EBITDA\nth GBP Last avail. yr,EBIT margin (%)\nLast avail. yr,Profit (Loss) for period [=Net income]\nth GBP Last avail. yr,Liquidity Ratio (x)\nLast avail. yr,Profit (Loss) before Taxation\nth GBP Last avail. yr,diff
0,0,263.0,SVS SECURITIES PLC,04402606,66120.0,2018-06-30,www.svssecurities.com,info@svssecurities.com,"Active, in administration",2019-09-01,...,-574,"-35,600",41,"41,301",658,0.62,289,1.35,248,428.0
1,1,279.0,OCON CONSTRUCTION LIMITED,05122365,41201.0,2012-09-30,www.oconconstruction.co.uk,info@ocongroup.co.uk,In liquidation,2014-05-02,...,NaN,"-41,562",NaN,"41,212","-2,252",-5.62,"-1,415",1.56,"-1,415",579.0
2,2,291.0,CARILLION FLEET MANAGEMENT LIMITED,00537677,96090.0,2016-12-31,www.carillionplc.com,james@vfdnet.com,In liquidation,2018-02-02,...,NaN,"-22,404","-2,260","41,117","15,657",37.95,"13,659",2.52,"15,919",398.0
3,3,295.0,PENTA FOODS LIMITED,02628701,46390.0,2017-12-31,www.pentafoods.com,orders@pentafoods.com,In liquidation,2019-03-06,...,-377,"-36,553",41,"41,079",402,0.54,111,0.66,70,430.0
4,4,335.0,MEDICARE FIRST LIMITED,05097027,78200.0,2016-12-31,www.medicarefirst.co.uk,info@medicarefirst.co.uk,"Active, in administration",2019-02-01,...,NaN,"-36,731",-131,"40,834",677,1.54,500,5.04,631,762.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
617474,617474,11715.0,ALIAS SMITH & GARRATT LIMITED,SC238865,82990.0,2018-10-31,www.smithandgarratt.com,info@smithandgarratt.com,Active,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.24,NaN,432.0
617475,617475,11717.0,BORDER EGGS LTD.,SC328778,82990.0,2019-03-31,www.bordereggs.co.uk,info@bordereggs.co.uk,Active,NaT,...,-655,NaN,NaN,NaN,NaN,NaN,NaN,1.01,NaN,281.0
617476,617476,11719.0,GENERAL CEMETERY COMPANY,ZC000136,96030.0,2019-01-04,www.kensalgreencemetery.com,enquiries@kensalgreencemetery.com,Active,NaT,...,-26,NaN,NaN,NaN,NaN,NaN,NaN,13.03,NaN,367.0
617477,617477,11722.0,WHITSTABLE OYSTER FISHERY COMPANY (THE),ZC000190,68209.0,2019-05-31,www.whitstableoystercompany.com,oystercobookings@hotmail.com,Active,NaT,...,-339,NaN,NaN,NaN,NaN,NaN,NaN,2.43,NaN,220.0
617478,617478,11723.0,SEAHAM HARBOUR DOCK COMPANY,ZC000191,52241.0,2019-09-30,www.seahamharbour.com,info@seahamharbour.com,Active,NaT,...,-550,NaN,NaN,NaN,NaN,NaN,NaN,1.14,NaN,98.0

In [36]:
final.to_csv('closed_first_teliko.csv', index=False)